# cp to secrets.yaml and change/fill in values
#logger: debug # warning
api_password: "X"
ota_password: "X"
wifi_password_fallback: "X"
wifi_ssid: "X"
wifi_password: "X"
wifi_ssid2: "X"
wifi_password2: "X"
wifi_ssid3: "X"
wifi_password3: "X"
wifi_ssid4: "X"
wifi_password4: "X"
